* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
}
body {
 color:#fff;
 font-family: Poppins-Regular, sans-serif;
 background-color: #000;
  background: url(../img/carro.jpg) fixed;
   background-size: cover;
    background-position: center;
}
table {
  margin: 20px auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
table thead tr th {
  font-weight: 900;
  background: #000;
}
table tbody tr {
  height: 60px;
}
table tbody td {
  padding: 10px;
  min-width: 84px;
}
#sumatoria {
  display: none;
}
#deudatotal {
    font-size: 50px;
    width: 500px;
    margin: auto;
    background: #000;
    padding: 12px;
}
#resultado {
font-size: 50px;
}
.button {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}